.users-container {
    max-width: 70rem;
    margin: 20px auto;
    
    .action-container {
        .mat-form-field {
            font-size: 14px;
            width: 100%;
            margin-top: 20px;
        }
    }
    .table-container {
        height: 400px;
        overflow: auto;
        table {
            width: 100%;
            .mat-row:hover {
                background-color: #F3F3F3;
            }
        }
    }
}


.active {
    color: green;
}
.inactive {
    color: gray;
}