<h1>Test</h1>
<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <!-- <mat-form-field>
    <input matInput placeholder="Username" formControlName="username" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" required>
  </mat-form-field> -->
  <!-- <input type="text" name="username" formControlName="username" required>
  <input type="password" name="password" formControlName="password" required>
  <input type="submit" value="Login"> -->
</form>